<header>
  <h1>Dream Team</h1>
</header>

<section>
  <div class="card oivoodoo">
    <div class="image" id='oivoodoo-image'> </div>
    <div class="info" id='oivoodoo-info'>
      <span class='nickname'>
        <a href="http://github.com/oivoodoo">@oivoodoo</a>
      </span>
      <span class='mail'>
        <a href="mailto:alex.korsak@gmail.com">Mail Me!</a>
      </span>
    </div>
  </div>

  <div class="card baltazore">
    <div class="image" id='baltazore-image'> </div>
    <div class="info" id='baltazore-info'>
      <span class='nickname'>
        <a href="http://github.com/baltazore">@baltazore</a>
      </span>
      <span class='mail'>
        <a href="mailto:k.shaplyko@gmail.com">Mail Me!</a>
      </span>
    </div>
  </div>
</section>

