<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>RubyForce Team</title>

    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/main.css" />

    <script type='application/javascript' src="/js/vendor/fastclick.js"></script>
    <script type='application/javascript' src="/js/vendor/modernizr.js"></script>
    <script type='application/javascript' src="/js/application.js"></script>
  </head>
  <body class='container'>
    {{ yield }}

    <footer>
      <div class="content">
        <h5>Work hard or Go home!</h5>
        <h6>We are NEVER hiring.</h6>
      </div>
    </footer>
  </body>
</html>
<html>

